.App {
  /*padding-top: 3rem;*/
}

.decor1{
  width: 20%;
  margin-bottom: 0.7rem ;
}

.decor2{
  width: 20%;
  margin-top: 0.5rem;
}

.handwriting{
  font-family: "Great Vibes", serif;
  font-size: 3rem;
}

.generic-text{
  font-family: SansSerif, serif;
}

#kezdolap{
  padding-top: 3rem;
  /*height: 100vh;*/
  /*background-color: lightblue;*/
  text-align: center;
  color: white;

}

#kezdolap-content{
  margin: 0 auto;
  height: 44rem;
  width: 70%;
  background-size: cover;
  /*background-size: cover; !* Cover the entire div *!*/
  background-position: center; /* Center the image */
  /*background-position: top center; !* Ensure the top of the image is always in view *!*/
  background-repeat: no-repeat;
}

#kezdolap-content-text{
  position: relative;
  top: 30rem;
  font-size: 1.5rem;
  padding: 0 2rem;
}

#datum, #helyszin, #program{
  padding-top: 3rem;
  height: 50vh;
  background-color: lightblue;
  /*margin: 0 auto;*/
  text-align: center;

  background-size: cover; /* Cover the entire div */
  background-position: center; /* Center the image */
}

/*.segment-title{*/
/*  margin: 0 auto;*/
/*  left: 50px;*/
/*}*/



/*#datum{*/
/*  padding-top: 3rem;*/
/*  height: 50vh;*/
/*  background-color: lightgreen;*/
/*}*/


@media screen and (max-width: 420px) {

  #kezdolap-content {
    width: 100%;
    height: 25rem;
  }

  #kezdolap-content-text{
    top: 12rem;
    font-size: 1.5rem;
    padding: 0 2rem;
  }

  .handwriting{
    font-size: 2rem;
  }

  .generic-text{
    font-size: 1.2rem;
  }

  .decor1{width: 40%;
    margin-bottom: 0.7rem ;}

}

