.App {
  /*max-width: 105rem;*/
  /*margin: 0 auto;*/
  font-family: "Cormorant Garamond", serif;
}

.decor1{
  width: 15%;
  margin-bottom: 0.7rem ;
}

.decor2{
  width: 20%;
  margin-top: 0.5rem;
}


/*VIRAGOK*/

.decor{
  height: 28vw;
}

.decor3{
  height: 28vw;
  position: absolute;
  right: 0;
}


.decor4{
  position: relative;
  left: 0;
  rotate: 180deg;
  bottom: 250px;
}

.decor5{
  position: absolute;
  left: 0;
  rotate: 270deg;
}

.decor6{
  position: absolute;
  right: 0;
  rotate: 90deg;
}
/*VIRAGOK*/

.handwriting{
  font-family: "Great Vibes", serif;
  font-size: 4rem;
}

.generic-text{
  font-family: SansSerif, serif;
}

#kezdolap{
  padding-top: 3rem;
  /*height: 100vh;*/
  /*background-color: lightblue;*/
  text-align: center;
  color: white;

}

#kezdolap-content{
  margin: 0 auto;
  height: 44rem;
  /*max-width: 60rem;*/
  background-size: cover;
  /*background-size: cover; !* Cover the entire div *!*/
  background-position: center; /* Center the image */
  /*background-position: top center; !* Ensure the top of the image is always in view *!*/
  background-repeat: no-repeat;
}

#kezdolap-content-text{
  position: relative;
  top: 25rem;
  font-size: 2rem;
  padding: 0 2rem;
}



.segment-title{
  padding: 1.3rem 0;
  font-size: 3rem !important;
  text-align: center;
}

#datum{
  position: relative;
  bottom: 3rem;
}

#datum-outer {
  color: white;
}

#datum-wrapper{
  text-align: center;
  margin: 0 auto;
  background-size: cover;
  background-position: top center; /* Center the image */
  background-repeat: no-repeat;
}

.datum-content{

}

.date-text{
  margin-bottom: 2rem;
  color: black;
}

.date-generic{
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.line-container{
  display: flex;
  align-items: center; /* Align items vertically */
  gap: 2rem;
  padding: 0 1rem;
}

.horizontal-line {
  flex: 1; /* Take up remaining space */
  border-bottom: 1px solid black; /* Adjust the color and thickness as needed */
}

.actual-date{
  font-size: 2.2rem;
  font-style: italic;
  margin: 0 auto;
}


.datum-utani-kep{
  margin-top: -253px;
  height: 24rem;
  background-size: cover;
  background-position: top center; /* Center the image */
  background-repeat: no-repeat;
}

@media screen and (max-width: 650px) {
  .decor{
    height: 28vw;
  }

  .decor4{
    bottom: 77px;
  }

  .datum-utani-kep{
    margin-top: -80px;
  }

}

@media screen and (max-width: 420px) {

  #kezdolap-content {
    width: 100%;
    height: 25rem;
  }

  #kezdolap-content-text{
    top: 12rem;
    font-size: 1.5rem;
    padding: 0 2rem;
  }

  .handwriting{
    font-size: 2rem;
  }

  .generic-text{
    font-size: 1.2rem;
  }

  .decor1{width: 40%;
    margin-bottom: 0.7rem;
  }

  .line-container{
    gap: 1rem;
  }

}

